<div class="container gy-5">
<h2 class=""> Вопрос <%= @question.id %> </h2>

<p> user_id: <b> <%= @question.user_id %> </b></p>

<%= render 'question', question: @question %>

<p><%=link_to "Список всех вопросов", questions_path, class: "btn btn-primary" %></p>

</div>
